*{
    font-family: 'Roboto Flex', sans-serif;
}
body {
    margin: 0;
}
.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


header {
    background-color: #043F05;
    color: white;
    padding: 10px;
    text-align: left;
    margin: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content {
    display: flex;
    align-items: center;
}

h1 {
    background-color: #043F05;
    font-size: 200%;
    letter-spacing: 2px;
    color: white;
    padding: 10px;
    margin: 0;
    margin-right: 20px;
}
.search-bar {
    display: flex;
    align-items: center;
    margin-left: 37%;
}

input[type="text"] {
    padding: 12px; /* Increase the padding for a bigger input */
    width: 500px; /* Set a fixed width or adjust as needed */
    margin-right: 10px;
}

button {
    padding: 12px 18px; /* Increase the padding for a bigger button */
    background-color: #F5EFDA; /* Set the desired background color */
    color: #000; /* Set the text color to black */
    border: none;
    border-radius: 10px; /* Add rounded edges */
    cursor: pointer;
}

.box {
    width: 40%;
    height: 450px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(245, 239, 218, 0.96);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    padding: 10px;
    margin-top: 3%;
    font-size: xxx-large;
}
.carousel-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
  
.carousel, .carousel1, .carousel2, .carousel3, .carousel4, .carousel5 {
    width:50%;
    height: 300px;
    align-items: center;
}
  
.prev, .next, .prev1, .next1, .prev2, .next2,.prev3, .next3,.prev4, .next4,.prev5, .next5 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev, .prev1, .prev2 , .prev3, .prev4, .prev5{
    margin-left:130px;
}
  
.next, .next1, .next2, .next3, .next4, .next5{
    left: 80%;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover,.prev1:hover,.prev2:hover,.prev3:hover,.prev4:hover,.prev5:hover, .next:hover, .next1:hover, .next2:hover, .next3:hover, .next4:hover, .next5:hover{
    background-color: white;
    border-radius: 100%;
}
  
